@using MyEntegrasyon.Models.ViewModel

@model newJSONviewModel

@{
    ViewBag.Title = "Yeni Json Desen Oluşturma";

}


<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>






<div class="container-fluid p-4">

 

    <div class="card rounded-0">
        <div class="card-header"> <h3>@ViewBag.Title</h3></div>
        <div class="card-body">
            <form asp-action="newDesen">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group row">
                    <label asp-for="Name" class="col-sm-2 col-form-label col-form-label-sm"></label>
                    <div class="col-sm-10">
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                   
                </div>
                <div class="form-group row">
                    <label for="input" class="col-sm-2 col-form-label col-form-label-sm">Type</label>
                    <div class="col-sm-10">
                        @Html.DropDownList("TypeId", null, "** Lütfen Seçiniz **", htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessage("TypeId", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row">
                    <label for="input" class="col-sm-2 col-form-label col-form-label-sm">Company</label>
                    <div class="col-sm-10">
                        @Html.DropDownList("FirmaId", null, "** Lütfen Seçiniz **", htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessage("FirmaId", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="Description" class="col-sm-2 col-form-label col-form-label-sm"></label>
                    <div class="col-sm-10">
                        <input asp-for="Description" class="form-control" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                </div>
               
                <div class="form-group row">
                    <label asp-for="Pattern" class="col-sm-2 col-form-label col-form-label-sm"></label>
                    <div class="col-sm-10">
                        <textarea rows="9" id="Pattern" name="Pattern" class="form-control">dd</textarea>
                      
                        <span asp-validation-for="Pattern" class="text-danger"></span>
                    </div>
                  
                </div>
                <div class="form-group">
                    <button id="Olustur" name="Olustur" type="submit" class="btn btn-primary">Oluştur</button>

                    @* <input type="submit" value="Oluştur" id="btnOlustur" class="btn btn-primary" onclick="functionConfirm(this); return false;" /> *@
                </div>
            </form>
        </div>
    </div>
    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }

        <script>


            $(document).ready(function () {



              //  document.getElementById("loading").style.display = "none"; // loading aktif
                $("#Olustur").click(function () {
                    document.getElementById("Olustur").disabled = true;
                    document.getElementById("Olustur").innerHTML = 'Lütfen bekleyiniz...';


                    var _Name = document.getElementById("Name").value;
                    var _TypeId = document.getElementById("TypeId").value;
                    var _FirmaId = document.getElementById("FirmaId").value;
                    var _Description = document.getElementById("Description").value;
                    var _Pattern = document.getElementById("Pattern").value;


                    $.ajax({
                        type: "post",
                        url: "/JsonDesen/JsonNewDesen",  //controlerımda gidicek olan yerim
                        dataType: "json",
                        data: {
                            "Name": _Name,
                            "TypeId": _TypeId,
                            "FirmaId": _FirmaId,
                            "Description": _Description,
                            "Pattern": _Pattern
                        },
                        success: function (sonuc) {

                            setTimeout(function () {

                                //document.getElementById("loading").style.display = "none"; // loading aktif

                                if (sonuc.ok) {
                                    document.getElementById("Olustur").disabled = false;
                                    document.getElementById("Olustur").innerHTML = 'Oluştur';

                                    window.location = "/JsonDesen/JsonDesenler";
                                }
                                else {
                                    window.alert("Hata Oluştu!");
                                }
                            },
                                2000); // 2 saniye beklemeye alıyorum
                           // document.getElementById("loading").style.display = ""; // loading pasif


                        }
                    });



                });
            });


        </script>



    }

</div>
