@using Microsoft.AspNetCore.Identity
@using MyEntegrasyon.Data.Entities
@using MyEntegrasyon.Models.Extensions;

@inject SignInManager<AppUser> _signInManager
@inject UserManager<AppUser> _userManager
@inject RoleManager<AppRole> _roleManager



@{
    var AdiSoyadi = "";
    IList<string> userRoles = null;
    if (User.Identity!.Name != null)
    {
        AppUser user = await _userManager.FindByNameAsync(User.Identity.Name);
        if (user != null)
        {
            AdiSoyadi = user.Adi + " " + user.Soyadi;
            userRoles = await _userManager.GetRolesAsync(user);
        }
    }



}


@*
@{
    IList<string> userRoles;
    var AdiSoyadi2 = "";

        AppUser user2 = await UserManager.FindByNameAsync(User.Identity.Name);
        if (user != null)
        {
            AdiSoyadi = user.Adi + " " + user.Soyadi;
            userRoles = await _userManager.GetRolesAsync(user);
        }
}
 *@


<div class="sidebar">
    <div class="sidebar-header text-center">
        <a href="index.html"><strong>My</strong>Entegrasyon</a>
    </div> <!-- sidebar-header div end -->
    <div class="sidebar-profile text-center">
        <img src="~/Templates/V1/assets/spanel/img/yonetici.png" class="img-fluid  mx-auto d-block rounded-circle" alt="">
        <div class="user-name">Mustafa xyz</div>
        @*  <div class="user-role">Yönetici</div> *@
        <div class="btn-group btn-group-sm mt-1" role="group" aria-label="Basic example">
            <a href="/Profil/Parola" class="btn" data-toggle="tooltip" data-placement="top" title="Parola İşlemleri"><i class="fa fa-key"></i></a>
            <a href="/Profil/index" class="btn" data-toggle="tooltip" data-placement="top" title="Profil İşlemleri"><i class="fa fa-user"></i></a>
        </div>
    </div> <!-- sidebar-profil div end -->
    <div class="sidebar-nav">
        <ul class="nav flex-column" id="sidebarnav">
            <li class="nav-item @Html.ActiveClass("Dashboard", "Index")">
                <a class="nav-link" href="/Dashboard/index">
                    <span class="title">Anasayfa</span>

                </a>
                <i class="fa fa-tachometer-alt"></i>
            </li>





            @*  @if (rol == "Admin") *@




            <li class="nav-item submenu
                                @Html.ActiveClass("Ikas", "YeniUnrunEkle" )
                                @Html.ActiveClass("Variant", "Index" )
                              ">
                <a class="nav-link">
                    <span class="title">Ikas</span>
                </a>
                <i class="fa fa-bars"></i>
                <ul class="collapse" role="tabpanel" data-parent="#sidebarnav">
                    <li class="@Html.ActiveClass("Ikas", "YeniUnrunEkle")">
                        <a href="~/Ikas/YeniUnrunEkle">Yeni ürünleri Ekle</a>
                    </li>
                    <li class="@Html.ActiveClass("Variant", "Index")">
                        <a href="~/Variant/Index">Varyant Typleri</a>
                    </li>
                </ul>
            </li>





            <li class="nav-item submenu
                                @Html.ActiveClass("Nebim", "Products" )
                              ">
                <a class="nav-link">
                    <span class="title">Nebim</span>
                </a>
                <i class="fa fa-bars"></i>
                <ul class="collapse" role="tabpanel" data-parent="#sidebarnav">
                    <li class="@Html.ActiveClass("Nebim", "Products")">
                        <a href="~/Nebim/Products">Ürün Listesi</a>
                    </li>
                  
                </ul>
            </li>





            <li class="nav-item submenu
                                @Html.ActiveClass("Islem", "islemler" )
                                @Html.ActiveClass("Islem", "NewIslem" )
                                @Html.ActiveClass("Islem", "ikas")
                                @Html.ActiveClass("Islem", "Nebim")">
                <a class="nav-link">
                    <span class="title">İşlemler</span>
                </a>
                <i class="fa fa-bars"></i>
                <ul class="collapse" role="tabpanel" data-parent="#sidebarnav">
                    <li class="@Html.ActiveClass("Islem", "NewIslem")">
                        <a href="~/islem/NewIslem">Yeni İşlem</a>
                    </li>
                    <li class="@Html.ActiveClass("Islem", "islemler")">
                        <a href="~/islem/islemler">İşlemler</a>
                    </li>
                    <li class="@Html.ActiveClass("Islem", "ikas")">
                        <a href="~/islem/ikas">Ikas İşlemleri</a>
                    </li>
                    <li class="@Html.ActiveClass("Islem", "Nebim")">
                        <a href="~/islem/Nebim">Nebim İşlemleri</a>
                    </li>
                </ul>
            </li>

            <li class="nav-item submenu

                            @Html.ActiveClass("JsonDesen", "DesenEdit")
                            @Html.ActiveClass("JsonDesen", "newDesen")
                            @Html.ActiveClass("JsonDesen", "JsonDesenler")
                            @Html.ActiveClass("JsonDesen", "ikas")
                            @Html.ActiveClass("JsonDesen", "Nebim")

                        ">
                <a class="nav-link">
                    <span class="title">Json Desenler</span>
                </a>
                <i class="fa fa-sitemap"></i>
                <ul class="collapse" role="tabpanel" data-parent="#sidebarnav">
                    <li class="@Html.ActiveClass("JsonDesen", "newDesen")">
                        <a href="~/JsonDesen/newDesen">Yeni Json Desen</a>
                    </li>
                    <li class="@Html.ActiveClass("JsonDesen", "JsonDesenler")">
                        <a href="~/JsonDesen/JsonDesenler">Json Desenler</a>
                    </li>
                    <li class="@Html.ActiveClass("JsonDesen", "ikas")">
                        <a href="~/JsonDesen/ikas">İkas Json</a>
                    </li>
                    <li class="@Html.ActiveClass("JsonDesen", "Nebim")">
                        <a href="~/JsonDesen/Nebim">Nebim Json</a>
                    </li>


                </ul>
            </li>


            @if (@userRoles != null)
            {
                foreach (var item in @userRoles!)
                {
                    if (item == "Admin")
                    {

                        <li class="nav-item submenu
                    @Html.ActiveClass("Tanimlama", "Users")
                    @Html.ActiveClass("Rol", "Roller")
                    @Html.ActiveClass("Rol", "RolEkle")">
                            <a class="nav-link">
                                <span class="title">Tanımlama</span>
                                <span class="detail">Yazılımcı</span>
                            </a>
                            <i class="fa fa-sitemap"></i>
                            <ul class="collapse" role="tabpanel" data-parent="#sidebarnav">
                                <li class="@Html.ActiveClass("Tanimlama", "Users")">
                                    <a href="~/Tanimlama/Users">Users</a>
                                </li>
                                <li class="@Html.ActiveClass("Tanimlama", "Roller")">
                                    <a href="~/Tanimlama/Roller">Roller</a>
                                </li>
                                <li class="@Html.ActiveClass("Tanimlama", "RolEkle")">
                                    <a href="~/Tanimlama/RolEkle">Rol Ekle</a>
                                </li>
                            </ul>
                        </li>
                    }


                }
            }
            else
            {
                <li class="nav-item @Html.ActiveClass("Home", "Login")">
                    <a class="nav-link" href="/Home/Login">
                        <span class="title">Giriş Yap</span>

                    </a>
                    <i class="fa fa-sign-in"></i>
                </li>
            }















        </ul>
    </div> <!-- sidebar-nav div end -->
    <div class="sidebar-footer">
        @* <img src="assets/spanel/img/shift-logo.png" />*@
        <span>Entegrasyon Sistemi  &copy; @DateTime.Now.Year</span>



        @if (!string.IsNullOrWhiteSpace("Adi Soyadı"))
        {

            @*  <a class="logout" href="~/Account/Logout" data-toggle="tooltip" data-placement="left" ><i class="fa fa-power-off fa-2x"></i></a> *@
            <a class="logout" asp-action="Logout" asp-controller="Home" title="Çıkış Yap"><i class="fa fa-power-off fa-2x"></i></a>
        }






        <div class="clearfix"></div>
    </div> <!-- sidebar footer div end -->
</div> <!-- sidebar div end -->
